body{
    background: rgb(82, 82, 82);
    font: normal 15pt arial;
  }
  
  header{
    color: rgb(255, 250, 250);
    text-align: center;
    
  }
  
  section{
    background: rgb(73, 94, 93);
    border-radius: 10px;
    padding: 10px;
    width: 600px;
    margin: auto;
    box-shadow:rgba(0, 0, 0, 0.548) 20px 20px 25px ;
    background-image: linear-gradient(90deg, #555555, #8D8D8D, #AAAAAA, #717171);
  }

  select {
    width: 220px;
  }
  
  
  
  input{
    font: normal 15pt arial;
  }
        
    option{
      font: normal 15pt arial;
    }
     


    footer{
      color: antiquewhite;
      text-align: center
    
    }